.landing_page_container {
    float: right;
    margin-top: 100px;
}

.intro_landing_container {
    display: flex;
    width: auto;
}

.selfie_container {
    text-align: right;
}

.landing_name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 6px;
    color: #CB6CE6;
}

.landing_intro_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #CBA2E8;
}

.images_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto:
}

.me {
    position: absolute;
    top: 0;
    left: 0;
}

.hoverPhoto {
    width: 0;
    transition: 1s;
    overflow: hidden;
}

.images_container:hover .hoverPhoto {
    width: 100%
}