.landing_page_container {
    float: right;
    margin-top: 100px;
}

.intro_landing_container {
    display: flex;
    width: auto;
}

.selfie_container {
    text-align: right;
}

.landing_name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 6px;
}

.landing_intro_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.portrait_image {
    height: auto;
    max-width: 25%;
    margin-left: 15px;
    margin-top: 20px;
}