.resume_tech_container {
    margin-left: 40%;
    text-align: right;
    margin-right: 30px;
}

.tech_icons_container {
    background-color: #5E159F;
    padding: 20px;
    border-radius: 5px;
}

.resume_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #CB6CE6;
    padding: 10px;
}

.tech_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #CB6CE6;
}

.resume_download_container {
    display: block;
    margin-left: 10%;
    margin-top: 5%;
}

.resume_button {
    border: none;
    text-align: center;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #5E159F;
    color: #CB6CE6;
}

.resume_button:hover {
    background-color: #CBA2E8;
    color: #5E159F;
    box-shadow: 5px 10px #CB6CE6;
}

.tech_icon:hover {
    transform: scale(1.3);
}