.resume_tech_container {
    margin-left: 40%;
    text-align: right;
}

.tech_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.resume_download_container {
    display: block;
    margin-left: 10%;
    margin-top: 10%;
}