.projects_landing_container {
    text-align: center;
}

.projects_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.project_name_container {
    padding: 20px;
    width: 50%;
}

.project_name {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.specific_project {
    display: flex;
}

.project_image {
    width: 30%;
    display: block;
    margin: 4rem;
}

.project_description {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 27%;
}

.project_tech {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-left: 20%;
}

.project_tech li {
    list-style: none;
    /* maybe use an image as the list style  */
}

.project_tech_a li {
    list-style: none;
    /* maybe use an image as the list style  */
}

.project_tech_so li {
    list-style: none;
    /* maybe use an image as the list style  */
}

.project_description_a {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 31.5%;
}

.project_tech_a {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-left: 25%;
}

.project_description_so {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 24%;
}

.project_tech_so {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-left: 17%;
}