.projects_landing_container {
    text-align: center;
}

.projects_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.project_name_container {
    padding: 20px;
    width: 50%;
}

.project_name {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.specific_project {
    display: flex;
    margin-left: 20%;
}

.project_container {
    display: flex;
}

.project_image {
    width: 30%;
    display: block;
    margin-top: 20px;
}
